<div id="bg"></div>
<div class="container">
    <br>
    <!--Jumbotron Title-->
    <div class="jumbotron" style="background: linear-gradient(to bottom, slategrey, #aed4f8)">
        <h1 class="text-center" style="font-size: 7em; color: silver"><strong>Find Your CybrSpot</strong></h1>
        <h3 class="text-center" style="font-size: 3em; color: darkslategrey">Interwebs Cafe Finder</h3>
    </div>
    <!--Search Bar-->
    <div class="input-group input-group-lg">
        <input type="text" style="color:black" class="form-control" placeholder="City, State or zip code" aria-describedby="sizing-addon1" id="searchTextField">
        <span id="searchTextField" class="input-group-addon"><a href="/" class="glyphicon glyphicon-search"></a></span>
    </div>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center enter_section">
    	<label for="cyberType">Add a Wifi/Hotspot location to our database!</label>
        <form action="/" method="POST" style="color:black">
          <input type="textarea" name="name" id="cyberType" placeholder="Name">
          <input type="textarea" name="zipCode" id="cyberType" placeholder="Zip code">
          <input type="textarea" name="city" id="cyberType" placeholder="City">
          <input type="textarea" name="cyberUrl" id="cyberType" placeholder="Website URL">
          <input type="textarea" name="lat" id="cyberType" placeholder="Latitude">
          <input type="textarea" name="lng" id="cyberType" placeholder="Longitude">
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>     
        </form>
        <br>
       <p>Enter your cyberCafe info then click the "Submit" button</p>
    </div>
  </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-9 text-center">
        	<h4 class="task"> I.D.# | Name | Zipcode | City | Website | Latitude | Longitude </h4>
		</div>
		{{#each userQuery}}
			<div class="col-xs-9 text-center">
            	<pre>{{this.id}}. {{this.name}} | {{this.zipCode}} | {{this.city}} | <a href="{{this.cyberUrl}}">{{this.cyberUrl}}</a> | {{this.lat}} | {{this.lng}}</pre>
        	</div>
         {{/each}}
          	 <div class="col-xs-3 text-center">
          	 </div>
      </div>
</div>
<br>
<div id="map"></div>
<script type="text/javascript">
function initMap() {
        var locations = [
      ['Peregrine Expresso', 38.8857, -76.9964],
      ['Jacobs Coffee House', 38.8951, -76.9948],
      ['Mias Coffehouse', 38.8912, -76.9833],
      ['Mulebone', 38.9185, -77.0315],
      ['Bourbon Coffee', 38.8851, -76.997600],
      ['Peets Coffee & Tea', 38.9057, -76.997600],
      ['Bakers and Baristas', 38.8966, -77.0217],
      ['Tryst', 38.9221, -77.0421],
      ['Pret A Manger', 38.8868, -77.0019],
      ['Bayou', 38.904299, -77.053839],
      ['Port City Java', 38.892833, -76.995507],
      ['Firehook Bakery & Coffeehouse', 38.898573, -77.015421],
      ['Open City', 38.923874, -77.052339],
      ['Rare Bird Coffee Roasters', 38.883629, -77.172605],
      ['Peets Coffee', 38.885973, -77.094439],
      ['Firehook Bakery & Coffeehouse', 38.935001, -77.057700],
      ['Peregrine Espresso', 38.913452, -77.032196],
    ];
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: new google.maps.LatLng(38.907,-77.037),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    var infowindow = new google.maps.InfoWindow();
    var marker, i;
    var input = document.getElementById('searchTextField');
    var options = {
	componentRestrictions: {country: 'us'}
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
	    var place = autocomplete.getPlace();
	    var lat = place.geometry.location.lat();
	    var long = place.geometry.location.lng();
	    var uluru = {lat:lat, lng: long};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: uluru
        });
        if (place = "Washington, DC, United States") {
        	for (i = 0; i < locations.length; i++) {  
      			marker = new google.maps.Marker({
        			position: new google.maps.LatLng(locations[i][1], locations[i][2]),
       				map: map
      			});
      			google.maps.event.addListener(marker, 'click', (function(marker, i) {
       				return function() {
          				infowindow.setContent(locations[i][0]);
          				infowindow.open(map, marker);
        			}
     			})(marker, i));
   			 }
        }
        new google.maps.Marker({
          position: uluru,
          map: map
        });
	});
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?v3&callback=initMap&key=AIzaSyDaQWpfbJ13b7sTQjD4_rf86eATQ855lxw&libraries=places"></script>